
# === 민감한 정보가 들어 있는 파일 ===
*.tfvars
.env

# === 상태파일 ===
.terraform/
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# ============ 비밀 · 키 ============
*.pem
*.pem.pub

# S3 이름 노출 방지
backend.hcl

/docs

__pycache__/
*.pyc
.venv/
.vscode/
