      <!-- Page Footer -->
      <footer class="footer">
        <div class="container">
            <div class="row mb-2" class="footer-google-inc">© 2020-2024 Google LLC</div>
            <div class="row mb-3">
              <small>
                <b>Cluster: </b>{{ cluster_name }}, <b>Pod: </b>{{ pod_name }}<b>, Zone: </b>{{ pod_zone }}
              </small>
            </div>
            <div class="row mb-3">
              <small>
                일과후 막걸리팀 Bank of Anthos Gitops입니다
              </small>
            </div>
        </div>
      </footer>
