# aws 공유 계정 접근
aws_profile = "admin-본인프로필"
tailscale_auth_key = "tskey-auth-kmbLTWh5fB11CNTRL-LpQfaDJ99xNszMJpzLAwwNysn6SoSYWh"
db_user = "scott"
db_password = "12345678"
domain_name = "tuby.shop"
acm_certificate_arn = "ACM ARN 값"
grafana_admin_password = "admin1234"

# app에 쓰일 jwt_key 

jwt_private_key = <<-EOT
-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAtVnzgcTKn6pHNsika6xDdPp3M8OugJ6R/XHuRnKJ4QYp776B
... (개인키 내용) ...
-----END RSA PRIVATE KEY-----
EOT

jwt_public_key = <<-EOT
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtVnzgcTKn6pHNsika6xD
... (공개키 내용) ...
-----END PUBLIC KEY-----
EOT